<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мастерские ПТК</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        html {
            display: grid;
            height: 100%;
        }
        body {
            display: grid;
            background-color: #D3D3D3;
            height: 100%;
        }
        
        main {
            display: grid;
            height: 100%;
            align-content: center;
        }

        p {
            color: #616161;
            text-align: justify;
        }

    </style>
</head>
<body class="text-center">
<section class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main>
        <h3>Мастерские ПТК</h3>
        <p class="lead">Данное приложение создано исключительно для использования в Политехническом колледже НовГУ им.
            Ярослава Мудрого. Для использования приложение необходимо авторизироваться в системе!</p>
        <article class="lead">
            <a href="/signin" class="btn btn-md btn-primary fw-bold border-white">Авторизироваться</a>
        </article>
    </main>
    <footer class="mt-auto">
        <article>Создано для <a href="https://www.novsu.ru/dept/25137734/" target="_blank">Политехнического колледжа</a>, by
            <a href="https://vk.com/dradinc" target="_blank">@dradinc</a>.</article>
        <article>Великий Новгород © 2021</article>
    </footer>
</section>
</body>
</html>